<nav>
  <ul>
    <li style="font-size:10px"><%= link_to "Home", root_path %></li>
    <li style="font-size:10px"><%= link_to "About the club", about_path %></li>
    <li style="font-size:10px"><%= link_to "How to join", howToJoin_path %></li>
    <li style="font-size:10px"><%= link_to "What you need", whatYouNeed_path %></li>
    <li style="font-size:10px"><%= link_to "2013 Programme", programmes_path %></li>
    <li style="font-size:10px"><%= link_to "News Letters", images_new_path  %></li>
    <li style="font-size:10px"><%= link_to "How to get there", howToGetThere_path %></li>
    <li style="font-size:10px"><%= link_to "Club matters", clubMatter_path %></li>
    <li style="font-size:10px"><%= link_to "Book a lawn", bookALawn_path %></li>
    <li style="font-size:10px"><%= link_to "Links to Croquet Sites", links_path %></li>
  </ul>
  
</nav>